name: Verify Build

on: [ push, pull_request, workflow_dispatch ]

permissions:
  contents: read

jobs:
  verification:
    name: Verification
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
      - name: Set up JDK 21
        uses: actions/setup-java@be666c2fcd27ec809703dec50e508c2fdc7f6654 # v5
        with:
          java-version: '21'
          distribution: 'temurin'
      - name: Build and publish to Maven Local with Maven
        run: ./mvnw clean install -B
        env:
          DEVELOCITY_ACCESS_KEY: ${{ secrets.DV_SOLUTIONS_ACCESS_KEY }}
      - name: Upload published plugin
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6
        with:
          name: common-custom-user-data-maven-plugin
          path: ~/.m2/repository/com/gradle

  local-test:
    name: Test with Locally Published Plugin
    runs-on: ubuntu-latest
    needs: verification
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
      - name: Set up JDK 21
        uses: actions/setup-java@be666c2fcd27ec809703dec50e508c2fdc7f6654 # v5
        with:
          java-version: '21'
          distribution: 'temurin'
      - name: Download plugin to maven local
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7
        with:
          name: common-custom-user-data-maven-plugin
          path: ~/.m2/repository/com/gradle
      - name: Create a test project
        run: |
          mkdir -p ${{ runner.temp }}/.mvn
          cp .mvn/develocity.xml ${{ runner.temp }}/.mvn/develocity.xml
          echo """<?xml version=\"1.0\" encoding=\"UTF-8\"?>
            <extensions>
              <extension>
                <groupId>com.gradle</groupId>
                <artifactId>develocity-maven-extension</artifactId>
                <version>[2.0,)</version>
              </extension>
              <extension>
                <groupId>com.gradle</groupId>
                <artifactId>common-custom-user-data-maven-extension</artifactId>
                <version>[2.0,)</version>
              </extension>
            </extensions>
          """ > ${{ runner.temp }}/.mvn/extensions.xml
          echo """<?xml version=\"1.0\" encoding=\"UTF-8\"?>
            <project xmlns=\"http://maven.apache.org/POM/4.0.0\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xsi:schemaLocation=\"http://maven.apache.org/POM/4.0.0 http://maven.apache.org/maven-v4_0_0.xsd\">
              <modelVersion>4.0.0</modelVersion>
              <groupId>com.example</groupId>
              <artifactId>ccud-maven-integration-test</artifactId>
              <version>1.0.0-SNAPSHOT</version>
            </project>
          """ > ${{ runner.temp }}/pom.xml
      - name: Run a build with the locally published plugin
        id: build-with-local-plugin
        run: mvn validate
        working-directory: ${{ runner.temp }}
        env:
          DEVELOCITY_ACCESS_KEY: ${{ secrets.DV_SOLUTIONS_ACCESS_KEY }}